body{
  	margin: 0;
  	padding: 0;
    background: black;
}

#infoDiv{
  background: yellow;
  border: 1px solid #000;
  margin: 0;
  padding: 5px;
  position: fixed;
  top: 5%;
  left: 5%;
  border-radius: 5px;
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.8s ease-in-out;
}

#infoDiv:hover{
  opacity: 1;
}

#infoBlock{
  font-size: 14px;
}

#infoSign{
  width: 30px;
  display: block;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #000;
  text-align: center;
  line-height: 37px;
  font-size: 21px;
  float: left;
  cursor: pointer;
}

#infoText{
  line-height: 41px;
  float: left;
  height: 32px;
  transition: all .3s linear;
}


/*#infoSign:hover + #infoText{
  display: block;
  opacity: 1;
  width: 120px;
  margin-left: 12px;
  margin-right: 5px;
}*/